.countryCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
}

.CardImg{
    width: 150px;
    height: 150px;
}

